Repository ODIM-Project/ODIM, pull requests merged in 2022-05, with the labels that each got.

#862 Odim 5325:Adding logic to consider ipv6 address in host split
  svc-aggregation/agresponse/rpc.go
  svc-aggregation/rpc/aggregator.go
  svc-aggregation/system/addplugin.go
  svc-aggregation/system/common.go
Labels: type:feature, prio:normal, status:in-progress

#864 Sample response for ODIM Managers - Merge to dev
  docs/README.md
Labels: prio:normal, status:in-progress, type:doc

#865 IPv6 support - Merge to dev
  docs/README.md
Labels: prio:normal, status:in-progress, type:doc

#866 Update response for viewing message registries collection - Merge to dev
  docs/README.md
Labels: prio:normal, status:in-progress, type:doc

#867 Time sync configuration - Merge to dev
  README.md
Labels: prio:normal, status:in-progress, type:doc

#863 Rate limits - Merge to dev
  docs/README.md
Labels: prio:normal, status:in-progress, type:doc

#869 Update IPv6 and Rate limits parameters configuration information - Merge to dev
  README.md
Labels: prio:normal, status:in-progress, type:doc

#870 Odim 5833:Adding changes to support BMC addition with ipv6 address in hostname in 3node cluster
  install/Docker/dockerfiles/scripts/redis-entrypointsetup.sh
  odim-controller/helmcharts/api/templates/service.yaml
  odim-controller/odimra/group_vars/all/requirements.yaml
  odim-controller/scripts/odim-controller.py
Labels: type:feature, prio:normal, status:in-progress

#875 Merge to dev - BMC accounts
  docs/README.md
Labels: prio:normal, status:in-progress, type:doc

#876 Merge to dev - removed HPE instances from the product name
  docs/README.md
Labels: prio:low, status:in-progress, type:doc

#881 Merge to Dev - Removed common response headers
  docs/README.md
Labels: prio:normal, status:in-progress, type:doc

#872 ODIM 5785: Validating EventTimestamp while submitting test events
  svc-events/events/submittestevent.go
  svc-events/events/submittestevent_test.go
Labels: type:bug, prio:normal, status:in-progress

#878 Bruce 5898: adding Method not allowed for operations other than GET on /subtasks and /subtask/subtaskID URIs
  svc-api/router/router.go
Labels: type:bug, prio:normal, status:in-progress

#883 Merge to dev - Update Rate limiting section in API Readme
  docs/README.md
Labels: prio:normal, status:in-progress, type:doc

#882 Odim 5786:Adding MethodNotAllowed for UpdateService URIs other than GET operation
  svc-api/handle/handlers.go
  svc-api/router/router.go
Labels: type:bug, prio:normal, status:in-progress

#884 Merge to Dev - Add server with IPv6 address
  docs/README.md
Labels: prio:normal, status:in-progress, type:doc

#874 Enable TLS based access for redis DB
  .github/workflows/build_unittest.yml
  .github/workflows/odimra_deployment.yml
  install/Docker/dockerfiles/scripts/redis-checkdb.sh
  install/Docker/dockerfiles/scripts/redis-createschema.sh
  install/Docker/dockerfiles/scripts/redis-entrypointsetup.sh
  install/Docker/dockerfiles/scripts/redis-master.conf
  install/Docker/dockerfiles/scripts/redis-slave.conf
  lib-messagebus/datacommunicator/config.go
  lib-messagebus/datacommunicator/redisstreamcomm.go
  lib-messagebus/go.mod
  lib-messagebus/go.sum
  lib-messagebus/platforms/platformconfig.toml
  lib-persistence-manager/persistencemgr/redis.go
  lib-persistence-manager/persistencemgr/redis_test.go
  lib-persistence-manager/persistencemgr/unit_test_db_confighelp.go
  lib-utilities/config/mockconfig.go
  odim-controller/helmcharts/odimra-platformconfig/templates/configmaps.yaml
  odim-controller/helmcharts/redis-ha/templates/redis-ha-inmemory-primary-statefulset.yaml
  odim-controller/helmcharts/redis-ha/templates/redis-ha-inmemory-secondary-statefulset.yaml
  odim-controller/helmcharts/redis-ha/templates/redis-ha-ondisk-primary-statefulset.yaml
  odim-controller/helmcharts/redis-ha/templates/redis-ha-ondisk-secondary-statefulset.yaml
  odim-controller/helmcharts/redis/templates/redis-inmemory-statefulset.yaml
  odim-controller/helmcharts/redis/templates/redis-ondisk-statefulset.yaml
  plugin-dell/config/mockconfig.go
  plugin-dell/dphandler/biosSettings_test.go
  plugin-lenovo/config/mockconfig.go
  plugin-lenovo/lphandler/biosSettings_test.go
  plugin-redfish/config/mockconfig.go
  plugin-redfish/rfphandler/biosSettings_test.go
  svc-account-session/account/create_test.go
  svc-account-session/account/delete_test.go
  svc-account-session/asmodel/account_test.go
  svc-account-session/asmodel/sessions_test.go
  svc-account-session/asmodel/userRole_test.go
  svc-account-session/auth/auth_test.go
  svc-account-session/role/create_test.go
  svc-account-session/rpc/account_test.go
  svc-account-session/rpc/auth_test.go
  svc-account-session/rpc/role_test.go
  svc-account-session/rpc/sessions_test.go
  svc-account-session/session/create_test.go
  svc-api/handle/handlers_test.go
  svc-events/evcommon/common_test.go
  svc-systems/rpc/chassis_test.go
  svc-task/thandle/thandle_test.go
  svc-task/tmodel/tmodel_test.go
Labels: type:feature, prio:normal, status:in-progress

#885 Update unit test coverage for systems
  svc-systems/chassis/create.go
  svc-systems/chassis/create_test.go
  svc-systems/chassis/delete.go
  svc-systems/chassis/delete_test.go
  svc-systems/chassis/fabric.go
  svc-systems/chassis/fabric_test.go
  svc-systems/chassis/fabricresource.go
  svc-systems/chassis/fabricresource_test.go
  svc-systems/chassis/get_collection_test.go
  svc-systems/chassis/updatefabricresource.go
  svc-systems/chassis/updatefabricresource_test.go
  svc-systems/plugin/client.go
  svc-systems/plugin/client_test.go
  svc-systems/rpc/chassis.go
  svc-systems/rpc/chassis_test.go
  svc-systems/rpc/wrapers.go
  svc-systems/rpc/wrapers_test.go
  svc-systems/scommon/common.go
  svc-systems/scommon/common_test.go
  svc-systems/smodel/fabrics.go
  svc-systems/smodel/fabrics_test.go
  svc-systems/smodel/systems.go
  svc-systems/smodel/systems_test.go
  svc-systems/systems/bootorder.go
  svc-systems/systems/bootorder_test.go
  svc-systems/systems/getresource.go
  svc-systems/systems/getresource_test.go
  svc-systems/systems/reset.go
  svc-systems/systems/reset_test.go
  svc-systems/systems/storage.go
  svc-systems/systems/storage_test.go
Labels: type:techdebt, prio:low, status:in-progress
